body {
  min-width: 400px;
  min-height: 200px
}

#logo {
  padding-left: 100px;
  background: url("../icons/icon.png") no-repeat;
  background-size: 80px;
  background-position-x: 10px;
  height: 80px;
  line-height: 80px;
  margin:0;
}

table {
  width: 100%;
}

table tr {
  line-height: 40px;
}

table tr td:nth-child(1) {
  width: 25%;
  text-align: right;
  padding-right: 10px;
}

table tr td input {
  height: 30px;
  line-height: 30px;
  width: 90%;
}


#success-hint {
  text-align: center;
  width: 100%;
  background: coral;
  color: white;
  font-size:16px;
  visibility: hidden;
}

button {
  height:40px;
  line-height: 30px;
  padding: 5px 15px;
  border: 0;
  border-radius: 5px;
}

#redirect-button {
  margin-left: 10px;
  background: #21a11e;
  color: white;
  /*visibility: hidden;*/
}
